body {
    background-image: url("ashe.jpeg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: aqua;
}

p {
    text-align: justify;
    color: aqua;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
}